<table class="table">
  <tr>
    <th>Id de usuario</th>
    <th>Fecha de creacion</th>
  </tr>
  <% @users.each do |user| %>
    <% if user.role_id != 1 %>
      <tr>
        <td><%= link_to user.userid, user_path(user.id) %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  <% end %>
</table>
