<% if flash[:invalid] %>
  <div class="alert alert-warning">
    <strong>Campos invalidos</strong>
  </div>
<% end %>

<%= form_for :balance, url: client_balances_path do |f| %>
  <%= f.label :point %>
  <%= f.text_field :point %>
  <%= f.submit %>
<% end %>
