<% if flash[:vendor_error] %>
  <div class="alert alert-danger">
    <strong>Se necesita ingresar el nombre:</strong>
  </div>
<% end %>
<%= form_for @vendor do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.submit %>
<% end %>
