// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width: 768px){
    .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1A237E;
    border-right: 1px solid #eee;
}
.navbar-fixed-top {
    border: 0;
    background-color: #0D47A1;
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1A237E;
    border-right: 1px solid #eee;
    color: #fff;
}

.nav>li>a :hover {
    position: relative;
    display: block;
    font-size: 14px;
    color: #fff;  
      

}
}