<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to 'Clientes', clients_path %></li>
        <li><%= link_to 'Buscar cliente', root_path %></li>
        <li><%= link_to 'Registrar cliente', new_client_path %></li>
      </ul>
    </div>
  </div>
</div>
