<div class="container">
  <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active" ><%= link_to 'Registrar cliente', new_client_path %></li>
          <li>Dar Alta Usuario</a></li>
          <li>Ver Informacion Usuario</a></li>
          <li>Consultar Usuario</a></li>          
        </ul>
      </div>
   </div>
</div>
</div>

